{% extends "base.html" %}

{% block head_title %}

About Us - BRAND

{% endblock %}

{% block content %}

<div class="">

    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <h5 class="text-white">Categories</h5>
                <!--Accordion wrapper-->
                <div class="accordion md-accordion accordion-3 z-depth-1-half" id="accordionEx194" role="tablist"
                    aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="heading4">
                            <span data-toggle="collapse" data-parent="#accordionEx194" href="#collapse4"
                                aria-expanded="false" aria-controls="collapse4">
                                <h5 class="mb-0 text-white">
                                    Riding
                                </h5>
                            </span>
                        </div>

                        <!-- Card body -->
                        <div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="heading4"
                            data-parent="#accordionEx194">
                            <div class="card-body pt-0">
                                <ul>
                                         {% for el in riding %}
              <li>
                <a href='/products/riding/{{el.slug}}'>{{el.title}}</a>
              </li>
              {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->



                </div>
                <!--/.Accordion wrapper-->
            </div>
            <div class="col-12 col-md-4 text-white">
                <h4>Contact Us</h4>
                <h6>BRAND</h6>
                <p>Mailing: maling address (23213)</p>
                <p>Factory: street 123</p>
                <p>Tel: 5555666677</p>
                <p>Fax: 937487822</p>
                <p>Email: info@brand.com</p>
                <p>web: www.brand.com</p>
            </div>

            <!-- Contact form -->
            <div class="col-12 col-md-4 text-white">
                <h4>Contact Form</h4>
                <!-- Extended material form grid -->
                <form>

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <input type="text" class="form-control" id="inputName" placeholder=" Enter your name"
                                    required>
                                <label for=" inputAddressEmail">Name</label>
                            </div>
                        </div>
                        <!-- Grid column -->


                    </div>

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <input type="text" class="form-control" id="inputAddressEmail"
                                    placeholder=" Enter your email" required>
                                <label for=" inputAddressEmail">Email</label>
                            </div>
                        </div>
                        <!-- Grid column -->


                    </div>
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <input type="text" class="form-control" id="inputPhone" placeholder="Tel" required>
                                <label for="inputPhone">Phone</label>
                            </div>
                        </div>
                        <!-- Grid column -->


                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <!-- Material input -->
                            <div class="md-form form-group">
                                <textarea class="form-control" id="inputMessaage" placeholder="Write your message"
                                    rows="5" required></textarea>
                                <label for="inputMessaage">Message</label>
                            </div>
                        </div>
                        <!-- Grid column -->


                    </div>
                    <!-- Grid row -->


                    <button type="submit" class="btn button btn-md">Send</button>
                </form>
                <!-- Extended material form grid -->
            </div>
        </div>
    </div>

</div>



{% endblock %}