body {
	background-color: #000000;
}

/*Home page*/
.carousel-inner {
	z-index: -1;
}

.intro {
	padding: 50px;
	background-color: #74371a;
	color: white;
	margin-top: -100px;
	z-index: 1;
}

.featured {
	background-color: #100707;
}

.featured-item > .featured-item-title {
	background-color: #210e0e;
	color: white;
	display: flex;
	padding: 10px;
	justify-content: center;
}

.button {
	background-color: #210e0e;
	color: white;
}

.button:hover {
	color: white;
}

@media screen and (max-width: 760px) {
	.intro {
		margin-top: 0px;
	}
}

/*Products list page*/

.product-list-item div img{
	height: 300px;
}

.product-list-item div h5{
	margin-top: -30px;
	padding: 0 10px;
	color: black;
}

@media screen and (max-width: 760px) {
	.product-list-item {
		margin: 0 auto;
	}
}


